<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.androidhive.androidcamera">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application xmlns:tools="http://schemas.android.com/tools"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/tbitssquarelogo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/tbitsroundlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="sendotp.key"
            android:value="210227AlvCBUw1rDj5ad434ec" />
        <meta-data
            android:name="com.google.firebase.ml.vision.DEPENDENCIES"
            android:value="face" />
        <!-- To use multiple models: android:value="face,model2,model3" -->

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar.FullScreen" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service android:name=".utility.GPSTracker" />

        <receiver
            android:name=".receivers.IncomingSms"
            android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".utility.GenericFileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity android:name=".LaunchingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".OtpSendAndVerificationActivity" />
        <activity android:name=".MobileNumberGetActivity" />
        <activity
            android:name=".face_tracking.FaceTrackerActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".CompleteSessionActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ConnectionFailureActivity"
            android:screenOrientation="nosensor" />
        <activity
            android:name=".ScreenRecordingInitiationActivity"
            android:screenOrientation="nosensor" />
        <activity android:name=".TestActivity">

        </activity>
    </application>

</manifest>